<div class='SideBarHeader'>
  <div class='HeaderName'>
    <%= link_to edit_user_path(current_user) do %>
    <%= current_user.name %>
    <% end %>
  </div>
  <div class="CreateRoom">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class='Rooms'>
  <% current_user.rooms.each do |room| %>
  <div class='Room'>
    <div class='RoomName'>
      <%= link_to room.name, room_messages_path(room) %>
    </div>
  </div>
  <% end %>
</div>