.Wrapper {
  display: flex;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.SideBar {
  color: white;
  width: 300px;
}

.SideBarHeader {
  background-color: #253141;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CreateRoom {
  font-size: 10px;
}


.CreateRoom a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}


.Rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.Room {
  padding: 20px 0 40px;
}

.RoomName a {
  text-decoration: none;
  color: white;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


.Chat {
  width: calc(100% - 300px);
}

.ChatHeader {
  height: 100px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

.HeaderName a {
  color: white;
  text-decoration: none;
}

.HeaderTitle {
  color: #333;
  font-size: 20px;
  margin-top: 24px;
}

.HeaderMembers {
  color: #999;
  display: flex;
  font-size: 12px;
  margin-top: 15px;
}

.Member {
  padding-right: 5px;
}

.HeaderButton {
  margin-top: 40px;
}

.HeaderButton a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;

}

// ---------------------------------------------------------
.Messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
}

.Message {
  margin: 10px 0;
}

.UpperMessage {
  display: flex;
}

.MessageUser {
  color: #434a54;
  font-size: 16px;
}

.MessageDate {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.LowerMessage {
  margin-top: 10px;
}

.MessageContent {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

// ---------------------------------------------------------

.Form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.FormMessage {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.FormInput {
  background-color: white;
  display: flex;
  width: 100%;
}

.FormImage {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 10px 15px;
  width: 30px;
  margin: 5px 10px;
  text-align: center;
}

.Hidden {
  display: none;
}

.FormSubmit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

